<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1><i class="fa fa-bomb"></i>1st Strike Advantage Calculator (Edit Simulation)</h1>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <%= render 'form' %>
</div>
<%= render "helper_text" %>