<div class="row">
  <div class="col-sm-12 col-md-6 col-md-push-3">
    <h1>Administration area</h1>
    <h2>Simulations data</h2>
    <ul>
      <li><%= link_to 'View in browser', simulations_path %></li>
      <li><%= link_to 'Download CSV', 'simulations.csv' %></li>
    </ul>
  </div>
</div>