<div class="row">
  <div class="col-sm-12 col-md-6 col-md-push-3">
    <i class="fa fa-bomb fa-hero"></i>
    <h1>Five Nuclear Arsenals</h1>
    <p>To proceed, please confirm that you are 18 or older.</p>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
      I am over 18
    </button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Consent form</h4>
          </div>
          <div class="modal-body">
            <p><strong>Northeastern University, Department of: Law and Policy</strong><br>
            <strong>Name of Investigators:</strong> Principal Investigator: Dr Casper Harteveld; Student Researcher: Hunter Hustus<br>
            <strong>Title of Project:</strong> Nuclear Forces at Low Numbers, When Less is Different<br>
            <strong>Request to Participate in Research</strong><br>
            Thank you for your interest in my research. I’m happy to allow you access to experiment with my nuclear arsenal calculator. First, I would like to invite you to participate in a very shorty online survey. The survey is part of a research study whose purpose is discover changes in nuclear weapons delivery systems’ ability to deliver expected effects at smaller arsenal sizes and determine the effectiveness of using such analysis to affect the opinion of personnel involved in nuclear weapons issues. This survey should take about 5 minutes to complete. You will then have unlimited access to the calculator. Following your first use of the calculator, I’d like you to complete a 2 minute survey. You can then have access without further requests to participate in the survey. I hope you’re participating in this this study because you are interested in nuclear weapons policy You must be at least 18 years old to participate.</p>

            <p><strong>The decision to participate in this research project is voluntary.</strong> You do not have to participate and you can refuse to answer any question. Even if you begin the web-based online survey, you can stop at any time.</p>

            <p><strong>There are no foreseeable risks or discomforts to you for taking part in this study.</strong></p> 

            <p><strong>There are no direct benefits to you from participating in this study.</strong> However, your responses may help us learn more about nuclear weapons force structures at small arsenal sizes.</p>

            <p><strong>You will not be paid for your participation in this study.</strong></p>

            <p><strong>Your part in this study is anonymous to the researcher. However, because of the nature of web-based sactivity, it is possible that respondents could be identified by the IP address or other electronic record associated with the response. Neither the researcher nor anyone involved with this survey will be capturing those data. Any reports or publications based on this research will use only group data and will not identify you or any individual as being affiliated with this project.</strong></p>

            <p><strong>If you have any questions regarding electronic privacy,</strong> please feel free to contact Mark Nardone, NU’s Director of Information Security via phone at 617-373-7901, or via email at <a href="mailto:privacy@neu.edu">privacy@neu.edu</a>.</p>

            <p><strong>If you have any questions about this study,</strong> please feel free to contact Hunter Hustus at 202-701-3318 or Hustus.h@husky.neu.edu, the person mainly responsible for the research. You can also contact Dr Casper Harteveld at 617-373-4027 or at <a href="mailto:c.harteveld@neu.edu">c.harteveld@neu.edu</a>, the Principal Investigator.</p>

            <p><strong>If you have any questions regarding your rights as a research participant,</strong> please contact Nan C. Regina, Director, Human Subject Research Protection, 960 Renaissance Park, Northeastern University, Boston, MA 02115. Tel: 617.373.4588, Email: <a href="mailto:n.regina@neu.edu">n.regina@neu.edu</a>. You may call anonymously if you wish.</p>

            <p><strong>This study has been reviewed and approved by the Northeastern University Institutional Review Board (# xx-xx-xx). [protocol # will be provided to you by the HSRP office].</strong></p>

            <p><strong>By clicking on the I Agree button below you are indicating that you consent to participate in this study. Please print out a copy of this consent form for your records</strong><br>
            <a href="http://fivenucleararsenals.com">http://fivenucleararsenals.com</p>

            <p>Thank you for your time.<br>
            Hunter Hustus</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= link_to "Acknowledge", new_initial_survey_path, :class => "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  </div><!--/.column-->
</div><!--/.row-->
