<div class="row">
  <div class="col-sm-12 col-md-6 col-md-push-3">
    <h1>Thank you!</h1>
    <p>Please contact <a href="mailto:hunter.hustus@googlemail.com">Hunter Hustus</a> if you have any questions or comments.</p>
  </div>
</div>