<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1><i class="fa fa-bomb"></i>Follow-up Survey</h1>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-9">
      <%= render 'form' %>
    </div>
  </div>
</div>
<%= javascript_include_tag("survey_validation") %>