<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1><i class="fa fa-bomb"></i>Survey</h1>
        <%#= link_to "Opt out", new_simulation_path, :class => "btn reverse-btn" %>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-9">
      <%= render 'form' %>
    </div>
  </div>
</div>
<%= javascript_include_tag("survey_validation") %>