@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

$WHITE: #fff;
$BLACK: #000;
$CLOUDS: #ecf0f1;
$WET-ASPHAULT: #34495e;

@mixin border-radius($r: .2em) {
  -webkit-border-radius: $r;
  -moz-border-radius: $r;
  border-radius: $r; 
}

* {
  font-family: Arimo, Helvetica, Arial, sans-serif;
}

body {
  font-size: 15px;
}

header {
  margin-bottom: 2em;
  padding-top: 1.8em;
  padding-bottom: 1.8em;
  color: $WHITE;
  background-color: $WET-ASPHAULT;
  h1 {
    float: left;
    margin: 0;
    font-size: 1.8em;
    > .fa {
      margin-right: .4em;
    }
  }
  .reverse-btn {
    float: right;
    color: $WHITE;
    border-color: $WHITE;
    &:hover, &:active, &:focus {
      color: $WET-ASPHAULT;
      background-color: $WHITE;   
    }
  }
}

.derived-value {
  background-color: lighten($BLACK, 80%);
}

.modal-body {
  max-height: 24em;
  overflow-y: scroll;
}

.fa-hero {
  margin-top: .5em;
  font-size: 10em;
}

h2 {
  margin: 0;
  font-size: 1.56em;
  color: $WET-ASPHAULT;
  font-weight: 700;
  + .form-group {
    margin-top: 1.2em;
  }
}

p {
  font-weight: 400;
  font-size: 1.05em;
  line-height: 1.3;
}

.form-fields-module {
  padding: 1.2em 1.6em;
  background-color: lighten($CLOUDS, 4%);
  @include border-radius;
  + .form-fields-module {
    margin-top: 1.6em;
  }
  &.module-top {
    overflow: auto;
    margin-bottom: 2em;
    background-color: $CLOUDS;
  }
}

.form-group {
  margin: 0;
  &.col-md-6 + .form-group {
    margin-top: 1.2em;
  }
  + .form-group {
    margin-top: 1.4em;
  }
  > label {
    font-weight: 400;
    color: lighten($BLACK, 35%);
  }
}

.form-control.with-tooltip {
  width: 88%;
  display: inline-block;
  + .has-tooltip {
    margin-left: .8em;
    padding: .3em .7em;
    display: inline-block;
    font-weight: bold;
    color: #fff;
    background-color: #444;
    border: none;
    @include border-radius(1.5em);
  }
}

.actions > .btn {
  float: right;
  margin-top: 1em;
  font-size: 1.1em;
  font-weight: 700;
}

input[type="radio"] {
  margin-right: .25em;
}

table label {
  font-weight: bold;
}

label {
  font-weight: normal;
}

.form-group + .form-group {
  margin-top: 1.6em;
}

.option-buttons {
  margin-top: 1em;
}

.results-module {
  margin-top: 1em;
  background-color: lighten($WET-ASPHAULT, 65%);
  hr {
    border-color: lighten($WET-ASPHAULT, 45%);
  }
}

footer {
  margin-top: 3em;
  padding-top: 2em;
  padding-bottom: 2em;
  color: darken($CLOUDS, 75%);
  border-top: 1px solid $CLOUDS;
}

label.user-label {
  font-size: 1.4em;
  font-weight: bold;
  color: #c0392b;
}